In [1]:
%load_ext sql

In [2]:
import pandas as pd
import boto3
import json

# Parse configs to hide sensitive data

In [ ]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

# Boilerplate AWS Resource Definitions

In [5]:
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# Create IAM Role For Creating Redshift Cluster

In [6]:

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::620633073952:role/dwhRole

# Create Redshift Cluster

In [ ]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [7]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-05399e85ab604a208
7,NumberOfNodes,4

In [8]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::620633073952:role/dwhRole

# Establish Rule to Authorize TCP Connections

In [9]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0e5094af2ea0e3298')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# Connect to Cluster

In [10]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# Run create_tables script

In [19]:
# Create staging, fact and dimension tables
!python3 create_tables.py

# Run ETL script

In [20]:
# ETL
!python3 etl.py

# Basic Queries to Test Succesful ETL Implementation

In [21]:
%sql SELECT count(*) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [22]:
%sql SELECT count(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [24]:
%sql SELECT count(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [25]:
%sql SELECT count(*) FROM user_table;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [26]:
%sql SELECT count(*) FROM song_table;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [27]:
%sql SELECT count(*) FROM artist_table;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [28]:
%sql SELECT count(*) FROM time_table;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [30]:
%sql SELECT * FROM staging_events LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('A Fine Frenzy', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 267.91138, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 256, 'Almost Lover (Album Version)', 200, 1541377992796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69)]

In [31]:
%sql SELECT * FROM staging_songs LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(1, 'ARMJAGH1187FB546F3', 35.14968, -90.04892, 'Memphis, TN', 'The Box Tops', 'SOCIWDW12A8C13D406', 'Soul Deep', 148.03546, 1969)]

In [32]:
%sql SELECT * FROM songplays LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6, datetime.datetime(2018, 11, 24, 13, 55, 51), 95, 'paid', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 564, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"')]

In [33]:
%sql SELECT * FROM user_table LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(49, 'Chloe', 'Cuevas', 'F', 'free')]

In [34]:
%sql SELECT * FROM song_table LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('SOBWWUW12A58A7A87B', 'The Radio', 'ARPKAUL1187B9A8F82', 1976, 209.84118)]

In [35]:
%sql SELECT * FROM artist_table LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('ARQ76LG1187B9ACD84', 'Black Flag', 'Los Angeles, CA', 34.05349, -118.24532)]

In [36]:
%sql SELECT * FROM time_table LIMIT 1;

 * postgresql://dwhuser:***@dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(datetime.datetime(2018, 11, 27, 4, 25), 4, 27, 48, 11, 2018, '2')]

In [37]:
# delete cluster
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2024, 1, 16, 14, 19, 56, 794000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0e5094af2ea0e3298',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-05399e85ab604a208',
  'AvailabilityZone': 'us-west-2b',
  'PreferredMaintenanceWindow': 'tue:13:30-tue:14:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::620633073952:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': 'a72634f0-8620-4414-b844-dff8ab9c33f1',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'a72634f0-8620-4414-b844-dff8ab9c33f1',
   'content-type': 'text/xml',
   'content-length': '2882',
   'date': 'Tue, 16 Jan 2024 15:58:35 GMT'},
  'RetryAttempts': 0}}

In [38]:
# confirm deletion
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.chilkjeysyry.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-05399e85ab604a208
7,NumberOfNodes,4

In [39]:
# detach IAM role policy
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)

{'ResponseMetadata': {'RequestId': 'b19b1159-be3d-4e9f-b1e5-435d5d9f63c3',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': 'b19b1159-be3d-4e9f-b1e5-435d5d9f63c3',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Tue, 16 Jan 2024 15:58:43 GMT'},
  'RetryAttempts': 0}}